body {
    background-color: white;
    margin: 0;
}

.header {
    width: 100%;
    height: 90px;
    background-color: silver;
    padding: 10px 0 0 20px;
    box-sizing: border-box;
}

.box-avatar {
    width: 70px;
    height: 70px;
    background-color: #3282c9;
}

.message-container {
    width: 100%;
    height: 220px;
    background-color: white;
    padding: 70px 40px 0 40px;
    box-sizing: border-box;
}

.message {
    background-color: white;
    color: #545454;
    font-family: Arial;
    font-size: 20px;
}

.box-blue {
    width: 100%;
    height: 120px;
    background-color: #3282c9;
}
.box-green {
    width: 100%;
    height: 120px;
    background-color: #32c999;
}
.box-lightgreen {
    width: 100%;
    height: 120px;
    background-color: #96dd75;
}
.box-yellow {
    width: 100%;
    height: 120px;
    background-color: yellow;
}